<h1>New Photo</h1>

<%= form_for @photo do |form| %>
  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.label :images %><br>
    <%= form.file_field :images, multiple: true %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
